body{
    margin: 0;
    font-family: Anton,sans-serif;
    background-image: url('/img/estadio.jpg');
    background-attachment: fixed;
    color: white;

}

header{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgb(219, 17, 17);
    position: sticky;
    top: 0;
    z-index: 999;
}

#logo-titulo{
    display: flex;
}

#logo-titulo img{
    height: 10vh;
    width: auto;
    position: static;
}

#logo-titulo h1{
    color: white;
    font-weight: bold;
}

#ocultar-logo{
    opacity: 0;
}

#titulo{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(163, 10, 10);
    margin-top: 0;
}

nav a{
    color: white;
    text-decoration: none;
}

main{
    flex: 1;
    width: 100vw;
    height: 100vh;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1{
    font-weight: 800;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

footer a{
    text-decoration: none;
    color: white;
}

footer p{
    color: white;
}

/*JUGADORES*/

.contenedor-jugadores{
    display: flex;
}

label{
    color: white;
}

.login-logout-singup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.login-logout-singup button{
    width: 150px;
    height: 30px;
}
